#black {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: black;
}

#white {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
}

#gray {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #7f7f7f;
}

#red {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ff0000;
}

#royalblue {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #4169e1;
}

#green {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #8fce00;
}

#orange {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ffa500;
}

#aqua {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #00ffff;
}

#gold {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: gold;
}

#cornflowerblue {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: cornflowerblue;
}

#limegreen {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: limegreen;
}

#purple {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #674ea7;
}